/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

p {
    margin: 0;
}

h1, h2, h3, h4{
    margin:0;
}



.nav-group p { margin:0;
    display: inline-block;
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;        /*rajout*/
    gap:30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display:flex;
    flex-direction: column;
    gap:30px;
}
/*logo et nav*/
header {
    display: flex;
    justify-content: space-between;
    }

header .logo img{
    width: 69px;
    height: 19px;
    padding: 30px 50px 30px 0px;
    
}
.nav-top ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    text-align:center;
}

.header-title{
    position: relative;
    display: inline;
    list-style: none;
    font-size: 16px;
    margin-left: 64px;
        }

.header-title:hover {
    color :#0065FC;
}

.header-title::before{
    content:'';
    position:absolute;
    top: -8px; 
    left: 0;
    right: 0;
    height: 0px;
    border-top: 2px solid transparent;
    }

    .header-title:hover:before {
    border-color:#0065FC;
}
/* à voir si c'est juste*/

.container-title h1 {
    margin-bottom:8px;
}
.container-title p {
    margin:0;
}

/*recherche*/
.container-form  {
    margin-top:5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.fa-location-dot {
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 49px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 49px;
    width: 195px;
    outline: none;
    border:none;
}

.search-sumit {
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    }

    .button-search{
    background-color:#0065FC;
    border-radius: 15px 15px 15px 15px;
    width: 49px;
    height: 49px;
    border:none;
    box-shadow:  0px 3px 0 rgba(0,0,0,0.2);
    }

input[type="submit"] { 
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    border: none;
}

/* zone de filtre*/
.nav-interest{
    margin-top:5px;
}

.nav-group{
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin:0;
}

.nav-interest ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-interest ul li{
    display:flex;
    display:inline-block;
}

.nav-filter-title {
    font-size: 18px;
    margin: 10px;
}

.nav-filter:hover {
    background-color: #DEEBFF;
}

.nav-filter {
    border: #D9D9D9 2px solid;
    border-radius: 25px;
    font-size: 17px; 
    align-items: center; 
    justify-content: center;  
    padding: 12px 19px 12px 19px;  
}
.nav-interest {
    margin: 0;
}

 .info {
    display:flex;
    align-items: center;
}

 .fa-info {
    border:#D9D9D9 1px solid;
    border-radius: 25px 25px 25px 25px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements-and-populaires section {
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.card-txt {
    display: flex;
    Padding :0px 15px 10px 15px;
    Gap: 8px;
    flex-direction: column;
}

.card-rating {
    Gap: 4px;
}
.hebergements {
    display: flex;
    gap:30px;
    flex-direction: column;
}
.hebergements-cards {
    display:flex;
    flex-wrap: wrap;
    gap: 30px; 
}

.hebergements-cards a {
    width:30.8%;
    margin-top: 20px;   
}


.card-subtitle {
    margin:0;
}


.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin:0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-rating{
    padding-left: 15px;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activité */

.activity {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    gap: 30px;
}

.activity .card-title {
    padding: 20px 19px 20px 19px;
    margin:0;
}

.activity-cards {
    display: flex;
    width: 100%;
    gap:30px;    
}

.a-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
}

.a-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*footer*/
footer {
    background-color: var(--main-bg-color);
}

.footer-list {
    display:flex;
    justify-content: space-between;
    width: 100%;
    gap:30px;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    gap:15px;
    list-style: none;
}


@media (min-width: 767.98px) {
    
.button-search {
        display:none;
}
.nav-interest{
    display: flex;
    align-items: center;
}
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .nav-interest {
        flex-direction: column;
        align-items:baseline;
        gap: 20px;
    }
    .nav-group {
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap:50px;
    }

    .hebergements {
        width: 100%;
    }
    .hebergements-cards a {
        width: 30.1% ;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activity-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /*header*/
    .main-container{
        padding: 0px;
    }
    header {
        flex-direction: column;
        gap:10px;           
    }
    
    .logo {
        display: flex;
        justify-content: center;
        }

    header .logo img{
        padding: 30px;
    }
    .header-title::before{
    border-top: 2px solid#D9D9D9;
    top:30px;
    }

    main {
        padding: 0px 20px 0px 20px;
        gap:35px;
    }
    h1 {
        font-size: 22px;
    }

    .nav-top ul li {
        padding: 0;
        margin: 0 ;
        width: 50%;
    }
    .nav-interest {
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    .nav-interest ul{
        margin:0;
        padding: 0;
    }
    .nav-filter {
        width: 35%; 
        margin-top: 10px;
        font-size: 14px;
    }



    .search-bar {
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
    }
    .fa-magnifying-glass {
        color:#F2F2F2;
    }
    .search-submit{
        display: none;    
    }

    .hebergements{
        order:2;
        background-color: white;
    }
    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        order:1;
        border-radius: 0;
    }
    .populaires-cards .card {
        margin-top:15px;
    }
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards a {
        width: 100%;
    }

    .activity-cards {
        width: 100%;
        flex-direction: column;
    }
    .activity-cards img {
        height: 141px;
    }

    .footer-list {
        flex-direction: column;
    }
}