/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    }

header .logo img{
    width: 69px;
    height: 19px;
    padding-top: 10px;
    
}
.nav-top ul {
    margin: 0;
}

.header-title{
    position: relative;
    display: inline;
    list-style: none;
    font-size: 16px;
    margin-left: 64px;
        }
/* élément de décoration , barre supérieur au texte */
.header-title::before{
    content:'';
    position:absolute;
    top: -8px; /* Ajuster la valeur selon la hauteur de la bordure */
    left: 0;
    right: 0;
    height: 0px;
    border-top: 2px solid transparent;
    }
/* couleur de la barre*/
    .header-title:hover:before {
    border-color:#0065FC;
}

/*peut etre une meilleur solution*/
.text{
    margin-top: -20px;
}
/*recherche*/
.search-bar {
    display: flex;
    align-items: center; 
}

.fa-location-dot {
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 49px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border-left: none;
    border-right:none;
    height: 49px;
    width: 195px;
    outline: none;
    border-color: #F2F2F2;
}

.search-sumit {
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    }

input[type="submit"] { 
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    border-color: #0065FC;
}

/* voir comment enlever ces textures*/

.nav-interest ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-interest ul li{
    display:flex;
    display:inline-block;
}

.nav-filter-title {
    font-size: 18px;
    margin: 10px;
}
.nav-filter {
    border: #D9D9D9 2px solid;
    border-radius: 25px 25px 25px 25px;
    Padding: 4px 19px 4px 19px;
    margin:5px;
    height: 50px;
    font-size: 17px;    
}

.nav-filter i {
    width: 22px;
    height: 22px;
}



.nav-interest ul li p {
    display: inline-block;
 }


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display:flex;
    flex-wrap: wrap;
    gap: 16px;   
}

.hebergements-cards a {
    width:30%;
}

.hebergements-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}